@charset "utf-8";
/* CSS Document */
/*清空*/
h1,h2,h3,h4,h5,h6,body,p,ul,ol,dl,dd,input,textarea{ margin:0; padding:0;}
img{ vertical-align:top; border:none;}
a{ text-decoration:none; color:#000; display:block;}
li{ list-style:none;}
input,textarea{outline:none; border:none; background:none;}
textarea{ resize:none;}

/*重用*/
body{ font:12px 'microsoft yahei';}
.fl{ float:left;}
.fr{ float:right;}
.clearfix:after{ content:''; display:block; clear:both;}
.w{ width:1000px; margin:0 auto;}
.marb_37{ margin-bottom:37px;}
.marb_30{ margin-bottom:30px;}
.marr_20{ margin-right:20px;}
.marr_22{ margin-right:22px;}
.marb_10{ margin-bottom:10px;}
