@charset "utf-8";
/* CSS Document */
body{ background:#1c1a25 url(../img/con_bg.jpg) no-repeat center 55px;}
/*头部*/
.head{ min-width:1000px; background:#fff url(../img/nav_bg.png); height:55px;}
.head .logo{ width:86px; height:36px; background:url(../img/logo.png) no-repeat; text-indent:-999em; border-right:1px solid #cecece; padding-right:13px; margin-left:14px; margin-top:6px;}
.head .btn{ width:221px; border-right:1px solid #cecece;}
.head .btn a{ color:#4a4a4a; font-weight:bold; line-height:50px; margin-right:20px;}
.head .btn i{ width:24px; height:24px; background:url(../img/cyou_sprite.png) -139px 0; margin-top:11px; margin-right:6px; transition:all 1s;}
.head .btn i:hover{ transform:scale(1.5) rotate(720deg);}
.head .btn .icon2{ width:24px; height:24px; background:url(../img/cyou_sprite.png) -189px 0;}
.head .btn .icon3{ width:24px; height:24px; background:url(../img/cyou_sprite.png) 0 -104px;}
.head .btn .changyou{ margin-right:0;}
.head input{ font-size:12px; height:50px; line-height:50px; color:#4a4a4a; font-weight:bold; cursor:pointer; float:left; margin-right:5px;}
.head b{ width:7px; height:4px; background:url(../img/cyou_sprite.png) -206px -148px; margin-top:23px; float:left;}
.head input:hover{ color:#681683;}
.head .user_service{ width:62px; padding-left:20px; border-right:1px solid #cecece;position:relative;}
.head .all_service{ width:87px; padding-left:25px; border-right:1px solid #cecece; position:relative;}
.head .all_game{ width:87px; padding-left:25px; border-right:1px solid #cecece; margin-right:10px; position:relative;}
.head .pull_down{ width:328px; height:267px; border:1px solid #bbb; position:absolute; top:50px; right:-1px; background:#f2f2f2; display:none; z-index:1;}
.head .pull_down h3{ line-height:32px;}
.head .pull_down h3 span{ width:18px; height:18px; background:url(../img/icon_sprite.png); margin:7px 7px 0 22px;}
.head .pull_down h3 a{ color:#4a4a4a; line-height:32px;}
.head .pull_down .word{ border-top:1px solid #dfdfdf;  border-bottom:1px solid #dfdfdf; background:#fff; line-height:33px;}
.head .pull_down .word a{ width:95px; border-right:1px solid #dfdfdf; padding-left:15px;}
.head .pull_down .word .last_word{ width:91px; border-right:none;}
.head .pull_down .list2 span{ background-position:-20px 0;}
.head .pull_down .list3 span{ background-position:-40px 0;}
.head .pull_down .last span{ background-position:-60px 0;}
.head .pull_down .last .word{ border-bottom:none;}
.head .line{ width:112px; height:1px; background:#f2f2f2; position:absolute; bottom:-1px; left:0; z-index:1;}
.head .user_service .line{ width:82px;}
/*head_js使用*/
.head .show{ display:block;}
/*banner*/
.banner{ height:551px; background:url(../img/header_main.jpg) no-repeat;}
.banner .logo{ width:190px; height:100px; background:url(../img/logo.gif); text-indent:-999em;}
.banner .nav{  margin-right:4px;}
.banner .nav .hd_title{ width:86px; height:75px; text-align:center; color:#bebebe; padding-top:35px; position:relative;}
.banner .nav .hd_title>a{ font-size:16px; line-height:22px;color:#bebebe;}
.banner .nav .hd_title>span{ font-size:10px; line-height:10px;}
.banner .nav .hide{ width:86px; height:83px; background:url(../img/nav_new_hover.jpg); position:absolute; top:0; left:0; line-height:24px; padding-top:27px; display:none;}
.banner .nav .hide .up{ color:#e6e2e0;}
.banner .nav .hide .down{ color:#f3ca90; text-decoration:underline;}
.banner .nav .show{ display:block;}
/*download*/
.download_icon{ width:215px; height:109px; background:url(../img/sprite.jpg);}
.register_icon{ width:102px; height:109px; background:url(../img/sprite.png) -215px -522px;}
.charge_icon{ width:100px; height:109px; background:url(../img/sprite.png) -317px -522px;}
.change_icon{ width:100px; height:109px; background:url(../img/sprite.png) -417px -522px;}
.newuser_icon{ width:100px; height:109px; background:url(../img/sprite.png) -517px -522px;}
.download_icon:hover{ background:url(../img/sprite.png) 0 -632px;}
.register_icon:hover{ background-position:-215px -632px;}
.charge_icon:hover{ background-position:-317px -632px;}
.change_icon:hover{ background-position:-417px -632px;}
.newuser_icon:hover{ background-position:-517px -632px;}
.download .right{ width:383px;}
.sever{ width:361px; height:50px; background:url(../img/sprite.png) -256px -104px; margin:6px 0 6px 13px; padding-top:5px;}
.sever a{ color:#adb9e0; font-size:14px; line-height:24px; margin-left:84px;}
.sever a span{ color:#f00000;}
.care{ width:381px; height:42px; background:url(../img/sprite.jpg) 0 -220px; border-right:1px solid #5e626d; border-left:1px solid #443b4f;}
.care .update{ color:#adb9e0; line-height:41px; width:202px; position:relative; padding-left:5px;}
.care .update span{ color:#f93d1a; text-decoration:underline;}
.care .update i{ width:14px; height:14px; background:url(../img/sprite.png) -79px -165px; position:absolute; top:14px; right:31px;}
.carefor>span{ color:#adb9e0; line-height:42px; margin-right:16px;}
.carefor em{ float:left; width:1px; height:16px; background:#4b4957; margin:12px 10px;}
.carefor a{ height:21px; background:url(../img/sprite.png); margin-top:10px; transition:all 0.5s;}
.carefor .weixin_icon{ width:26px; background-position:-250px -52px;}
.carefor .sina_icon{ width:27px; background-position:-293px -52px;}
.carefor .tencent_icon{ width:23px; background-position:-339px -52px;}
.carefor .weixin_icon:hover{ background-position:-250px -10px;transform:rotate(360deg);}
.carefor .sina_icon:hover{ background-position:-293px -10px;transform:rotate(360deg);}
.carefor .tencent_icon:hover{ background-position:-339px -10px;transform:rotate(360deg);}
/*main*/
.main{ margin-bottom:32px;}
.left_banner>a{ border:1px solid #443b4f; width:616px; position:relative;}
.banner_btn{ width:90px; height:15px; position:absolute;bottom:10px; right:9px;}
.banner_btn>span{ width:15px; height:15px; background:#3a3e47; border-radius:50%; float:left; margin-right:3px;}
.banner_btn .cur{ background:#d0290a;}
.left_banner input{ width:28px; height:63px; background:url(../img/sprite_1.png); position:absolute; top:10px; left:10px;}
.left_banner .icon2{ background-position:-34px 0; top:83px;}
.main_tit{ width:381px; height:57px; background:url(../img/sprite.png) 0 -324px; border-right:1px solid #322e3f;}
.main_tit input{ width:25%; float:left;font:14px '黑体'; color:#fefefe; line-height:55px;}
.main_r .news{ background:#322e3f; padding-top:17px; height:230px; display:none;}
.main_r .news>p{ background:url(../img/sprite.png) 0 -453px; color:#fe4100; line-height:34px; font-size:16px; width:347px; text-align:center; margin-left:17px; margin-bottom:7px;}
.main_r .news li{ color:#9ca7ca; margin:0 18px; font:14px '黑体'; line-height:27px;}
.main_r .news li a{ color:#9ca7ca; width:286px; white-space:nowrap; overflow:hidden;}
.main_r .news .more{ color:#9ca7ca; line-height:12px; margin-top:7px; margin-right:18px;}
.main_r .news i{ width:13px; height:13px; background:url(../img/sprite.png) -98px -165px; margin-right:8px;}
/*main_r--js使用*/
.main_tit .cur{ background:url(../img/sprite.jpg) 0 -323px;}
.main_r .show{ display:block;}
/*activity*/
.activity a{ margin-right:8px; border:1px solid #433b4f;}
.activity .last{ margin-right:0;}
/*profession*/
.introduce{ width:656px; height:346px; border:1px solid #433b4f; margin-right:20px;}
.introduce .hd{ height:59px; background:url(../img/sprite.png) 0 -384px;}
.introduce .hd input{ width:20%; line-height:59px; color:#fff; font-size:16px;}
.act_center .hd{ margin-bottom:15px;}
.act_center .hd i{ width:28px; height:31px; background:url(../img/sprite.png) -270px -165px; margin-right:14px;}
.act_center .hd h2{ font-size:20px; font-weight:normal; color:#f3ca90; line-height:30px;}
.act_center .pic{ position:relative; border:1px solid #433b4f; margin-bottom:10px;}
.bg{ width:319px; height:36px; background:#000; opacity:0.5; width:319px; height:36px; position:absolute; bottom:0; left:0;}
.act_center .pic p{ font-size:14px; color:#fff; line-height:36px; position:absolute; bottom:0; left:0; padding-left:5px;}
.act_center li>a{ width:308px; line-height:25px; color:#a6b2d8; background:#2c2934; border-radius:5px; padding-left:12px; margin-bottom:3px;}
.act_center li span{ width:55px; height:25px; background:#544f65; border-radius:5px; text-align:center;}
.act_center li i{ width:0; height:0; border:4px solid transparent; border-left:4px solid #a6b2d8; margin-right:12px; margin-top:9px;}
.introduce a{ display:none;}
/*profession---js使用*/
.introduce .hd .cur{ background:url(../img/sprite.png) -98px -104px;}
.introduce .show{ display:block;}
/*other*/
.other .left{ width:216px; margin-right:18px;}
.enter{ width:215px; height:174px; background:url(../img/sprite.png) -685px -79px; padding-top:15px; margin-bottom:23px;}
.enter h3{ font-size:16px; color:#dbca90; font-weight:normal;text-align:center; line-height:16px;}
.enter_word{margin-left:24px; margin-top:28px;}
.enter_word a{ color:#9587ab; font-size:14px; line-height:28px;}
.enter_word .word_l{ width:98px;}
.enter_pic{ position:relative;}
.enter_pic img{ width:215px; height:262px;}
.enter_pic i{ width:20px; height:30px; position:absolute; top:50%; margin-top:-7px; right:5px;}
.enter_pic .prev{ background:url(../img/prev.png) no-repeat center;}
.enter_pic .next{ background:url(../img/next.png) no-repeat center; left:5px;}
.enter_pic a{ display:none;}
.enter_pic .show{ display:show;}
.partner{ width:206px; height:36px; font-size:16px; color:#b1a1ca; background:url(../img/sprite.png) -695px 0; margin:5px 0 20px 5px; cursor:pointer;}
.diaocha{ width:215px; height:268px; background:url(../img/examen.jpg); transition:all 0.2s;}
.diaocha:hover{ background-position:-215px 0;}
.mid{ width:424px;}
.other h2 a{ font-size:20px; line-height:32px; color:#f3ca90; font-weight:normal;}
.other h2 i{ height:31px; width:49px; background:url(../img/sprite.png) -392px -165px;}
.other .media i{ width:43x; background-position:-547px -165px;}
.other .btn input{ width:105px; height:48px; font-size:14px; color:#a295b7; border:1px solid #433b4f; border-right:none;}
.other .more_info{ width:108px; font-size:14px; color:#a295b7; line-height:47px; border-left:1px solid #433b4f;border-bottom:1px solid #433b4f;}
.other .more_info i{ width:13px; height:13px; background:url(../img/sprite.png) -98px -165px; margin:16px 3px 0 20px;}
.other .msg{ padding-top:21px; padding-left:15px; width:407px; height:235px; border:1px solid #433b4f; border-top:none; background:#322b3c; display:none;}
.other .pic{ margin-top:2px;}
.other .text{ margin-left:18px;}
.other .text a{ font-size:14px; color:#a295b7; line-height:26px;}
.other .game_msg i{ width:28px; background-position:-479px -165px; margin-right:14px;}
.game_msg .msg_box{ border:1px solid #433b4f; height:303px;}
.game_msg .msg_in{ width:320px; height:235px;}
.game_msg .msg_in li{ width:286px; height:42px; border-bottom:1px dashed #594f67;margin-left:17px; padding-top:16px;}
.game_msg .msg_in span{ width:70px; line-height:26px; color:#fff; font-size:14px; background:#594f67; text-align:center;}
.game_msg .msg_in b{ width:0; height:0; border:6px solid transparent; border-left:6px solid #594f67; margin-top:7px; margin-right:18px;}
.game_msg .msg_in a{ font-size:14px; color:#9587ab; line-height:28px;}
.game_msg .msg_in .line{ width:1px; height:14px; background:#9587ab; margin:7px 4px 0 2px;}
.game_msg .msg_in .lang span{ width:79px;}
.game_msg .msg_in .lang b{ margin-right:6px;}
.game_msg .msg_in .last{ border:none;}
.game_msg .msg_box .enter_msg{ width:279px; line-height:39px; border:3px solid #433b4f; text-align:center; font-size:22px; color:#b1a1ca; margin-top:5px; margin-left:17px;}
.other .enjoy h2 i{ width:33px; background-position:-324px -165px; margin-right:11px;}
.enjoy .more_info{ width:111px;}
.pic_msg{ width:310px; height:256px; background:#322b3c; border-left:1px solid #433b4f; border-bottom:1px solid #594f67; padding-left:11px; display:none;}
.pic_msg a{ margin-top:23px;}
/*other--js使用*/
.other .btn .cur{ border-bottom:none; background:#322b3c; color:#fefeff;}
.other .show{ display:block;}
.other .pic_msg .show{ display:block;}
/*notice*/
.notice{ height:127px; text-align:center;}
.notice .title{ width:900px; height:22px; background:url(../img/game_anc.jpg) 0 -14px; margin-bottom:10px; margin-left:55px;}
.notice .title span{ font-size:16px; color:#908c9b; line-height:22px;}
.notice p{ font-size:16px; color:#908c9b; line-height:32px;}
/*footer*/
.footer{ min-width:1000px; height:110px; background:#181818 url(../img/nav_bg.png) 0 -55px no-repeat;}
.foot_logo h3{ width:102px; height:50px; background:url(../img/foot_logo.png); text-indent:-999em; margin:30px 19px 0 76px;}
.foot_icon{ width:30px; height:38px; background:url(../img/foot_icon.png); margin:36px 17px 0 0;}
.foot_info{ margin-top:37px;}
.foot_info p{ line-height:23px; color:#535353;}
.foot_info p>a{ color:#767676; display:inline;}

